<div id="<%= parent_class %>" class="container-fluid">
    <div class="row no-gutters">
        <div class="panel panel--left col-md-12 col-lg-6 col-xs-12 col-sm-12">
            <div class="top--nav"></div>
        </div>
        <div class="panel panel--right col-md-12 col-lg-6 col-xs-12 col-sm-12">
            <div class="panel--content">
                <div class="header mb-5">
                    <h3 class="text-center">登録</h3>
                </div>
                <div class="signup--form">
                    <div class="row justify-content-center mb-2">
                        <a href="" class="btn btn-social btn-facebook">
                            <span class="fa fa-facebook"></span>ファスプークを使う
                        </a>
                    </div>
                    <div class="row justify-content-center">
                        <a href="" class="btn btn-social btn-twitter">
                            <span class="fa fa-twitter"></span>トィッタを使う
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>