<div class="music--edit-container <%= "hiden" if card.music.nil? %> row p-0 m-0">
    <div class="col-lg-12 align-items-center justify-content-center">
        <div class="progress-info col-lg-12">
            <div class="audio-player">
                <audio>
                    <source class="jsAudioSource" src="<%= card.try(:music).try(:container).try(:url) %>" type="audio/mp3" />
                </audio>
            </div>
        </div>
    </div>
    <%= link_to card_detach_music_path(card), class:"align-items-center justify-content-center detach-music-action", method: :post, remote: true do %>
        <i class="ti-close"></i>
    <% end %>
</div>