@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/utilities";

.navbar {
    background: #fff;
    z-index: 999;
    position: relative;
    display: flex;
    flex-wrap: wrap; // allow us to do the line break for collapsing content
    align-items: center;
    justify-content: space-between; // space out brand from logo
    padding-top: $navbar-padding-y;
    padding-right: $navbar-padding-x; // default: null
    padding-bottom: $navbar-padding-y;
    padding-left: $navbar-padding-x; // default: null
  
    // Because flex properties aren't inherited, we need to redeclare these first
    // few properties so that content nested within behave properly.
    %container-flex-properties {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  
    .container,
    .container-fluid {
      @extend %container-flex-properties;
    }
  
    @each $breakpoint, $container-max-width in $container-max-widths {
      > .container#{breakpoint-infix($breakpoint, $container-max-widths)} {
        @extend %container-flex-properties;
      }
    }
}

.navbar--top{
    min-height: 52px;
    border-bottom: 1px solid #e2e2e2;
    //box-shadow: 0px 0px 2px 1px rgba(70, 70, 70, 0.15);
    .logo-container{
        position: relative;
        .logo{
            height: 40px;
        }
        .logo-top-anchor{
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
        }
    }

    .editor--top_menu {
        text-align: center;
        .hiden {
            display: none;
        }
        .show {
            display: block;
        }
        .drop {
            cursor: pointer;
            padding: 7px 11px;
            background: rgb(255, 68, 68);
            border-radius: 24px;
            color: #fff;
            transition: ease-in-out 0.3s;
            &:hover{
                color: #fff;
                background: rgb(216, 51, 51);
            }
        }
    }

    .navbar__menu--right{
        .user--menu{
            margin: 0 !important;
        }
        .avatar{
            border-radius: 20px;
            border: 3px solid #ffffff61;
            width: 40px;
            cursor: pointer;
            transition: ease-in-out 0.3s;
            &:hover {
                border: 3px solid #fff;
            }
        }
        .navbar-nav{
            .nav-link{
                color: rgb(131, 131, 131);
                padding: 0 !important;
            }
            .action{
                cursor: pointer;
                margin: 0px 3px 0px 3px;
                padding: 6px 10px 6px 11px;
                border: 1px solid rgb(235, 235, 235);
                border-radius: 30px;
                transition: ease-in-out 0.3s;
                &:hover{
                    background: rgb(235, 235, 235);
                }
            }
        }

        .jsSaveProgress {
            margin-right: 4px;
            &.hidden{
                display: none;
            }
        }

        .progress {
            width: 38px;
            height: 38px;
            background: none;
            position: relative;
        }
          
        .progress::after {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 3px solid #eee;
            position: absolute;
            top: 0;
            left: 0;
        }
          
        .progress>span {
            width: 50%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            z-index: 1;
        }
          
        .progress .progress-left {
            left: 0;
        }
          
        .progress .progress-bar {
            width: 100%;
            height: 100%;
            background: none;
            border-width: 3px;
            border-style: solid;
            position: absolute;
            top: 0;
        }
          
        .progress .progress-left .progress-bar {
            left: 100%;
            border-top-right-radius: 80px;
            border-bottom-right-radius: 80px;
            border-left: 0;
            -webkit-transform-origin: center left;
            transform-origin: center left;
        }
          
        .progress .progress-right {
            right: 0;
        }
          
        .progress .progress-right .progress-bar {
            left: -100%;
            border-top-left-radius: 80px;
            border-bottom-left-radius: 80px;
            border-right: 0;
            -webkit-transform-origin: center right;
            transform-origin: center right;
        }
          
        .progress .progress-value {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.cards-page {
    .navbar--top.index{
        background: linear-gradient(45deg, #3bffc0, #bb547a, #2b6384);
    }

}

/* customizable snowflake styling */
.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

.watermark {
position: absolute;
bottom: 0;
margin-left: auto;
margin-bottom: 20px;
.md-b{
    color: rgba(255, 255, 255, 0.397);
    font-size: 20px;
    font-weight: 500;
}
.pwd-b{
    color: rgba(255, 255, 255, 0.397);
    font-size: 14px;
    font-weight: 500;
    a {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}
}
