@import "bootstrap/functions";
@import "bootstrap/variables";

#pages-home{
    position: relative;
    .panel{
        min-height: 100vh;
    }
    .panel--left{
        background-image: asset-data-url('bg_christmas.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        .top--nav{
            width: 100%;
            height: 100vh;
            background: linear-gradient(#fff, rgba(241, 241, 241, 0) 62.18%, rgba(0, 0, 0, 0) 85.29%),
                        linear-gradient(to right, #fff, rgba(255, 255, 255, 0) 42.02%),
                        linear-gradient(4.68rad, #fff 7.14%, rgba(255, 255, 255, 0) 51.26%)
        }
    }
    .panel--right{
        .header{
            
        }
    }
    .panel--content{
        margin-top: 30%;
    }
}