.story {
    -webkit-mask-image: -webkit-radial-gradient(#fff,#000);
    mask-image: -webkit-radial-gradient(#fff,#000);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .story--bg {
        width: 100%;
        height: 80%;
        overflow: hidden;
        position: absolute;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        transition: all 0.25s ease-in-out;
        -webkit-filter: blur(20px) brightness(.8) saturate(1.6);
        filter: blur(20px) brightness(.8) saturate(1.6);
        -webkit-transform: scale(1.5) translateZ(0);
        transform: scale(1.5) translateZ(0);
    }
    .story--content {
        height: 80vh;
        position: relative;
        margin: auto;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25098039215686274);
        .story--menu {
            position: absolute;
            z-index: 100;
            padding: 10px;
            border-radius: 30px;
            .action {
                cursor: pointer;
                background: #fff;
                margin: 2px;
                padding: 5px 9px;
                border-radius: 30px;
                box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25098039215686274);
                transition: ease-in-out 0.3s ;
                &:hover{
                    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.28098039215686274);
                }
            }
        }
        .story--image{
            height: 100%;
            z-index: 99;
            box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25098039215686274);
        }
        .progress {
            height: 0.3rem;
            background-color: #00000031;
            border-radius: 0rem;
            width: 100%;
            position: absolute;
            z-index: 888;
        }
    }
    audio {
        width: 0px;
        height: 0px;
    }
    /* customizable snowflake styling */
    .snowflake {
        color: #fff;
        font-size: 1em;
        font-family: Arial;
        text-shadow: 0 0 1px #000;
    }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
  /* Demo Purpose Only*/
  .demo {
    font-family: 'Raleway', sans-serif;
      color:#fff;
      display: block;
      margin: 0 auto;
      padding: 15px 0;
      text-align: center;
  }
  .demo a{
    font-family: 'Raleway', sans-serif;
  color: #000;		
  }
}