.story {
    -webkit-mask-image: -webkit-radial-gradient(#fff,#000);
    mask-image: -webkit-radial-gradient(#fff,#000);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    .story--bg {
        width: 100%;
        height: 80%;
        overflow: hidden;
        position: absolute;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        transition: all 0.25s ease-in-out;
        -webkit-filter: blur(20px) brightness(.8) saturate(1.6);
        filter: blur(20px) brightness(.8) saturate(1.6);
        -webkit-transform: scale(1.5) translateZ(0);
        transform: scale(1.5) translateZ(0);
    }
    .story--content {
        height: 80vh;
        position: relative;
        margin: auto;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25098039215686274);
        .story--menu {
            position: absolute;
            z-index: 100;
            padding: 10px;
            border-radius: 30px;
            .action {
                cursor: pointer;
                background: #fff;
                text-decoration: none;
                color: rgba(0, 0, 0, 0.897);
                margin: 2px;
                padding: 5px 9px;
                border-radius: 30px;
                box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25098039215686274);
                transition: ease-in-out 0.3s ;
                &:hover{
                    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.28098039215686274);
                }
            }
        }
        .story--image{
            height: 100%;
            z-index: 99;
            box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25098039215686274);
        }
        .progress {
            height: 0.3rem;
            background-color: #00000031;
            border-radius: 0rem;
            width: 100%;
            position: absolute;
            z-index: 888;
        }
    }
    audio {
        width: 0px;
        height: 0px;
    }
}